[project]
name = "os-make"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "mkdocs>=1.6.1",
    "mkdocs-rtd-dropdown>=1.0.2",
    "pymdown-extensions>=10.0",
]
